+b.header._heb
  +e.wrapper.wrapper
    +e.head
      +e.container
        +e.links
          +e.P.title &#8482;Test
          +e.UL.lang-list
            +e.LI.lang-item
              +e.A.lang-link(href="#") русский
            +e.LI.lang-item
              +e.A.lang-link(href="#") english
        +e.NAV.navigation
          +e.UL.nav-list
            +e.LI.nav-item._active TEST
            +e.LI.nav-item
              +e.A.link(href="#") test123
    +e.info
      +e.frame
        +e.IFRAME.video-block(src="//www.youtube.com/embed/5quJv7ICdww?wmode=transparent&amp;autoplay=0&amp;theme=dark&amp;controls=1&amp;autohide=1&amp;loop=0&amp;showinfo=0&amp;rel=0&amp;playlist=false&amp;enablejsapi=0")
      +e.A.button(href="#") test12